@import '../../../styles/settings.scss';

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    width: 400px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
