@import '../../../styles/settings.scss';

.cart{
  margin: 20px 0;

  .cartSummary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 20px;
    border: 5px double $green;
    height: 200px;
    h3{
      font-weight: bold;
    }
  
    div{
      width: 70%;
      text-align: center;
    }

    .cartSummary_price{
      font-size: 20px;
      text-align: center;

      span{
        font-weight: bold;
        color: $green;
        font-size: 26px;
      }
    }
  }

  .cartProducts{
    margin: 20px;
    text-align: center;
  }

}

@media (min-width:577px){
  .cart{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    text-align: center;
  }
}
// @media (min-width:769px){
//   .cart{
//     display: flex;
//     .cartSummary{
//       height: 300px;
//       width: 30%;
//     }
//   }
// }

@media (min-width:1200px){
  .cart {
    display: flex;
    .cartSummary{
      height: 300px;
      width: 40%;
    }
  }
}