$backround-div-color: linear-gradient(90deg, #61eb34 1.5%, #fcbb29 100%);
$main-color: #000000;
$white-color: #ffffff;
$color-pink:  #f9b4d0;
$green: #61eb34;
$button-backgourd: linear-gradient(90deg, #61eb34 1.5%, #fcbb29 100%);
$button-backgourd-hover: linear-gradient(90deg, #61eb34 1.5%, #fcbb29 26.13%);